@media all and (width < 768px) {

    .about .container,
    .location .container,
    .contact-info .container {
        margin-top: 4.25rem;
        margin-bottom: 4.25rem;

        flex-direction: column;
    }

    .baking .container .baking-cards {
        flex-direction: column;
    }

    .contact-info .container {
        gap: 4rem;
    }

    .footer .top .container {
        flex-wrap: wrap;
    }

    .about .container .img-section,
    .about .container .details-section,
    .location .container .details-section,
    .location .container .img-section,
    .baking-cards .outer,
    .contact-info .container .details-section,
    .contact-info .container .location-section,
    .footer .top .container .outer {
        width: 100%;
    }
}


@media all and (768px <=width <992px) {
    .footer .top .container {
        flex-wrap: wrap;
    }

    .footer .top .container .outer {
        width: 45%;
    }
}