/* ================= Global Style Settings ================= */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid transparent;
}

*::selection {
    background-color: #8E7754;
}

.about::selection,
.location::selection,
.baking::selection,
.contact-info::selection,
.footer::selection {
    color: black;
}

body {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    width: 90%;
    margin-inline: auto;
}

/* ================= Navbar ================= */
.navbar {
    padding: 0.313rem;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .logo {
    width: 11.188rem;
}

.navbar .container .links {
    width: 60%;
}

.navbar .container .links ul {
    font-size: 1.375rem;
    display: flex;
    justify-content: flex-end;
    gap: 2.5rem;
}

.navbar .container .links ul li a {
    color: white;
    transition: all 0.3s;

    &:hover {
        color: #8E7754;
    }
}

/* ================= Header ================= */
.header {
    height: 130dvh;
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header .content {
    width: 55%;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    z-index: 2;
}

.header .content h1 {
    font-size: 4.75rem;
    font-weight: 400;
}

.header .content p {
    margin: 0.938rem 0px;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.5rem;
    font-weight: 400;
}

.header .content button {
    margin-top: 0.625rem;
    margin-right: 0.625rem;
    padding: 1.25rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.header .content button.learn-btn {
    color: white;
    background-color: #8E7754;
    transition: all 0.3s;

    &:hover {
        color: black;
        background-color: white;
    }
}

.header .content button.contact-btn {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.3s;

    &:hover {
        color: black;
        background-color: white;
    }
}

/* ================= About ================= */
.about {
    overflow: auto;
}

.about .container {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;

    display: flex;
    justify-content: space-between;
}

.about .container .img-section {
    width: 47%;
}

.about .container .details-section {
    width: 48%;
    padding: 1.875rem 0.125rem;
}

.about .container .details-section h2 {
    margin: 1.875rem 0px;
    color: #303030;
    font-size: 2rem;
    font-weight: 400;
}

.about .container .details-section p {
    color: #686868;
    line-height: 1.75;
    font-weight: 400;
}

.about .container .details-section ul li {
    margin: 0.313rem 0px;
    padding: 0.625rem 0px;
    display: flex;
    align-items: center;
}

.about .container .details-section ul li .icon {
    width: 2.625rem;
    height: 2.625rem;
    display: inline-block;
    vertical-align: middle;
}

.about .container .details-section ul li img {
    border: 1px solid #E0E0E0;
    border-radius: 50% 50% 50% 50%;
}

.about .container .details-section ul li span {
    margin-inline: 0.5rem;
    color: #686868;
    font-size: 1.063rem;
    font-weight: 400;
}

/* ================= Our Location ================= */
.location {
    background-color: #F8F8F8;
    overflow: auto;
}

.location .container {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location .container .details-section {
    width: 48%;
}

.location .container .img-section {
    width: 47%;
}

.location .container .details-section h2 {
    color: #303030;
    font-size: 2rem;
    font-weight: 400;
}

.location .container .details-section p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #686868;
    line-height: 1.75;
    font-weight: 400;
}

/* ================= Our Baking ================= */
.baking {
    overflow: auto;
}

.baking .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.baking .container .title {
    text-align: center;
}

.baking .container .title h3 {
    color: #303030;
    font-size: 1.875rem;
    font-weight: 400;
}

.baking .container .title p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #888888;
    font-weight: 400;
}

.baking .container .baking-cards {
    margin-top: 3.5rem;
    display: flex;
    gap: 2.5rem;
}

.baking-cards .outer {
    width: 33.333333%;
}

.baking-cards .outer .inner .details {
    text-align: center;
}

.baking-cards .outer .inner .details h4 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #303030;
    font-size: 1.375rem;
    font-weight: 400;
}

.baking-cards .outer .inner .details p {
    color: #686868;
    font-weight: 400;
    line-height: 1.75;
}

/* ================= Contact Information ================= */
.contact-info {
    background-color: #F8F8F8;
    overflow: auto;
}

.contact-info .container {
    margin-top: 5rem;
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
}

.contact-info .container .details-section {
    width: 45%;
}

.contact-info .container .location-section {
    width: 47%;
}

.contact-info .container .details-section h2 {
    margin: 1.875rem 0px;
    color: #303030;
    font-size: 2rem;
    font-weight: 400;
}

.contact-info .container .details-section p {
    color: #686868;
    line-height: 1.75;
    font-weight: 400;
}

.contact-info .container .details-section .contact-details {
    margin: 2rem 0px;
}

.contact-info .container .details-section ul li {
    margin: 0.313rem 0px;
    padding: 0.625rem 0px;
    display: flex;
    align-items: center;
}

.contact-info .container .details-section ul li .icon {
    width: 2.25rem;
    height: 2.25rem;

    display: inline-block;
    vertical-align: middle;
}

.contact-info .container .details-section ul li img {
    color: #8E7754;
    background-color: #8E7754;
    border: 1px solid #E0E0E0;
    border-radius: 50% 50% 50% 50%;
}

.contact-info .container .details-section ul li span {
    margin-inline: 0.5rem;
    color: #686868;
    font-size: 1.063rem;
    font-weight: 400;
}

.contact-info .container .location-section iframe {
    width: 100%;
    height: 32.5rem;
    display: block;
}

/* ================= Footer ================= */
.footer .top {
    background-color: #403D38;
    overflow: auto;
}

.footer .top .container {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;

    display: flex;
    gap: 2rem;
}

.footer .top .container .outer {
    width: 25%;
}

.footer .top .container .outer .inner h4 {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 400;
}

.footer .top .container .outer .inner p,
.footer .top .container .outer .inner li,
.footer .top .container .outer .inner span,
.footer .top .container .outer .inner a {
    color: #969696;
    font-size: 1rem;
    font-weight: 400;
}

.footer .top .container .outer .inner p {
    margin-top: 1rem;
    line-height: 1.75;
}

.footer .top .container .outer .inner ul,
.footer .top .container .contact-details .inner ul {
    margin-top: 1rem;
}

.footer .top .container .outer .inner ul .all,
.footer .top .container .contact-details .inner ul .all {
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
    border-bottom: 1px solid #96969631;
}

.footer .top .container .outer .inner ul .last,
.footer .top .container .contact-details .inner ul .last {
    padding-top: 0.938rem;
}

.footer .top .container .outer .inner ul li .icon {
    width: 1rem;
    height: 1rem;

    display: inline-block;
    vertical-align: middle;
}

.footer .top .container .contact-details .inner ul li .icon {
    width: 1.8rem;
    height: 1.8rem;

    display: inline-block;
    vertical-align: middle;
}

.footer .top .container .contact-details .inner ul span a {
    transition: 0.3s all;

    &:hover {
        color: #FFFFFF;
    }
}

.footer .top .container .contact-details .inner {
    position: relative;
    isolation: isolate;
}

.footer .top .container .contact-details .inner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/contact-details-map.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

.footer .bottom {
    background-color: #353330;
    overflow: auto;
}

.footer .bottom .container {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer .bottom .container .logo {
    width: 22.063rem;
    height: 6rem;
}

.footer .bottom .container p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: #777777;
    font-size: 0.938rem;
    font-weight: 400;
}

.footer .bottom .container .social-icons a {
    margin-inline: 0.313rem;
    padding: 0.525rem;
    color: #777777;
    background-color: #5e5a55a9;
    border-radius: 50% 50% 50% 50%;
    transition: 0.3s all;

    &:hover.facebook {
        color: white;
        background-color: #3B5998;
    }

    &:hover.google {
        color: white;
        background-color: #DD4B39;
    }

    &:hover.linkedin {
        color: white;
        background-color: #007BB5;
    }

    &:hover.twitter {
        color: white;
        background-color: #00ACED;
    }
}

.footer .bottom .container .social-icons a i {
    width: 1.25rem;
    height: 1.25rem;
}

/* =========================================================== */